
#repertoryDictionary .dictionaryType{
	float:left;
	width: 12%;
	height: 100%;
	border: 1px #95B8E7 solid;
}
#repertoryDictionary .dictionaryDetail{
	float: right;
	width: 87.8%;
	height:100%
}
#repertoryDictionary .upset{
	float: right;
}
#repertoryDictionary .downset{
	float:right;
}
.empty-button{
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display:inline-block;
	margin:0 2px;
}
.last-button{
	width: 16px;
	height: 16px;
	display:inline-block;
	float:right;
}
#repertoryDictionary .popups .editDictionary .hidden{
	display:none;
	width:0px;
}
#repertoryDictionary .editDictionary .confirm{
	margin-left:50px;
}
#repertoryDictionary .editDictionary .cannel{
	margin-left:8px;
}
#repertoryDictionary .addDictionary .confirm{
	margin-left:50px;
}
#repertoryDictionary .addDictionary .cannel{
	margin-left:8px;
}
#repertoryDictionary .defaultSet{
	background:url(../../../img/index/defaultSet.png);
}