#trainRecord .popup .popuparea{
	width:306px;
	height:150px;
}
#trainRecord .popup .popuparea textarea{
	width:300px;
	height:144px;
	border:none;
	border-bottom:1px solid #a3c8f8;
}
#trainRecord .pastWindow .popuparea{
	height:184px;
}
#trainRecord .nextExamine{
	height:30px;
	line-height:30px;
}
#trainRecord .nextExamine input[type="text"]{
	width:146px;
}