#clientLogin{
	color:#333;
}
#clientLogin .grey{
	background:rgba(204, 204, 204, 1);
}
#clientLogin .loginTop{
	padding-top:30px;
}
#clientLogin .loginTop .logoArea{
	overflow:hidden;
}
#clientLogin .loginTop .logoArea>div{
	float:left;
}
#clientLogin .loginTop .logoArea .logo img{
	width:80px;
	height:73px;
}
#clientLogin .loginTop .logoArea .logoText img{
	margin-top:8px;
}
#clientLogin .loginTop .logoArea .title{
	border-left:4px solid #ccc;
	height:60px;
	font-size: 26px;
	font-weight: 800;
	color:#333;
	line-height:60px;
	padding-left:12px;
	margin-left:12px;
}
#clientLogin .loginBg img{
	height:546px;
	width:100%;
	float:left;
}
#clientLogin .loginBg .loginMiddle{
	height:546px;
	position:relative;
}
#clientLogin .loginBg .loginMiddle .loginArea{
	position:absolute;
	right:0px;
	top:54px;
	background:rgb(195, 229, 239);
	width:460px;
	padding:18px 40px;
}
#clientLogin .loginBg .loginMiddle .loginArea .loginTitle{
	text-align:center;
	font-size:22px;
	height:40px;
	line-height:40px;
	border-bottom:2px solid #cccccc;
	font-weight:600;
}
#clientLogin .loginMiddle .loginArea .loginContent p{
	margin-top:24px;
	padding:0 13px;
	overflow:hidden;
}	
#clientLogin .loginMiddle .loginArea .loginContent .loginIcon{
	display:inline-block;
	width:41px;
	height:43px;
	border:1px solid rgba(121, 121, 121, 1);
	border-right:none;
	vertical-align: middle;
	float:left;
}
#clientLogin .loginMiddle .loginArea .loginContent input{
	height:41px;
	float:left;
	width:308px;
	text-indent:2em;
}
#clientLogin .loginMiddle .loginArea .loginContent .auto{
	width:13px;
	height:13px;
}
#clientLogin .loginMiddle .loginArea .loginContent .zzz{
	color:#6B6B6B;
	float:left;
}

#clientLogin .loginMiddle .loginArea .loginContent .loginAccentIcon{
	background:url(../../img/erp/phone.png) no-repeat center center #fff;
}
#clientLogin .loginMiddle .loginArea .loginContent .loginPasswordIcon{
	background:url(../../img/erp/lock.png) no-repeat center center #fff;
}
#clientLogin .loginMiddle .loginArea .loginContent .refreshIcon{
	background:url(../../img/erp/refresh.png) no-repeat center center;
	border:none;
	height:42px;
	width:34px;
	margin-left:4px;
}
#clientLogin .loginMiddle .loginArea .loginContent .verificationCode{
	width:136px;
	margin-right:68px;
}
#clientLogin .loginMiddle .loginArea .loginContent .verificationCodeArea{
	width:107px;
	height:33px;
	display:inline-block;
	float:left;
	margin-top:6px;
}
#clientLogin .loginMiddle .loginArea .loginContent .verificationCodeArea img{
	width:107px;
	height:33px;
}
#clientLogin .loginMiddle .loginArea .loginContent .Login{
	width:268px;
	height:47px;
	background:rgba(70, 173, 217, 1);
	color:#fff;
	font-size:24px;
	display:inline-block;
	line-height:47px;
	cursor:pointer;
}
#clientLogin .loginButtom{
	overflow:hidden;
	padding-top:28px;
	padding-bottom:20px;
}
#clientLogin .loginButtom .block{
	width: 248px;
    padding-left: 20px;
    margin-right: 18px;
    float: left;
    overflow: hidden;
}
#clientLogin .loginButtom .block .bigIcon{
	float:left;
	width:94px;
	height:100px;
}
#clientLogin .loginButtom .block .bigIcon1{
	background:url(../../img/erp/u995.png) no-repeat center center;
}
#clientLogin .loginButtom .block .bigIcon2{
	background:url(../../img/erp/u999.png) no-repeat center center;
}
#clientLogin .loginButtom .block .bigIcon3{
	background:url(../../img/erp/u997.png) no-repeat center center;
}
#clientLogin .loginButtom .block .iconText{
	float:left;
	width:128px;
	text-align:left;
}
#clientLogin .loginButtom .block .iconText h4{
	font-weight:800;
	font-size:24px;
	height:40px;
	line-height:40px;
	margin-top:8px;
}
#clientLogin .loginButtom .block .iconText p{
    color: #999999
}
#clientLogin .errortishi{
	float:right;
	display:none;
}
#clientLogin .errortishi img{
	margin-right:20px;
}
#clientLogin .switch{
	text-align:right;
}
#clientLogin .switch a{
	color:#666;
}
#clientLogin .switch .arrow{
	display:inline-block;
	vertical-align: middle;
	width:14px;
	height:14px;
	background:url(../../img/erp/arrow.png) no-repeat;
	margin-left:8px;
}