#voteManage .popuparea{
	padding:10px 20px;
	max-height:247px;
	overflow-y:auto;
}
#voteManage .popuparea .voteName{
	width:194px;
}
#voteManage .popuparea .detail{
	width:190px;
}
#voteManage .popuparea .button{
	width:40px;
	float:right;
}
#voteManage .popuparea .endTimeStr{
	width:194px;
}