/* ----------------------------招聘管理信息-------------------------------------- */
#invite{
	height:100%;
}
.invitetop{
	line-height:30px;
	padding-left:14px;
}
.invitemain h3{
	height: 24px;
	line-height: 24px;
}
.invitemain h3 span{
	display: inline-block;
	margin-left: 2px;
}
.invitemain h3 span:hover{
	border: 1px solid #6eabfc;
	background: #bdd7f9;
}
.invitemain table{
	width: 100%;
	text-align: center;
}
.invitemain table tr:nth-child(2n-1){
    background: #efefef;
}
.invitemain table tr:nth-child(2n){
	background: #fafafa;

}
.invitemain table th{
	width: 11%;
}
.invitemain table th:nth-child(2){
	width: 3%;
}
.inviteissue{
	display: none;
	position: absolute; 
	left: 30%;
	top:30%;
	width: 500px;
	height: 500px;
	border:1px solid #dedede;
	z-index: 100;
	border-radius: 6px;
	behavior: url(../../css/plug/ie-css3.htc);
	background: #ccd8e7;
	padding:0 12xp;
	color:#333;
}
.inviteissue h3{
	text-indent: 2em;
	color:#444a6f;
	height:26px;
	line-height:26px;
	font-weight:700;
	background:url(../../img/personnel/invite/pin.png) no-repeat 10px 6px;
}
.inviteissue .turnoff{
	position:absolute;
	right:14px;
	top:6px;
	display:inline-block;
	width:16px;
	height:16px;
	border:1px solid #ccd8e7;
	background:url(../../img/personnel/invite/turnoff.png) no-repeat 2px 2px;
	border-radius: 4px;
	behavior: url(../../css/plug/ie-css3.htc);
}
.inviteissue .turnoff:hover{
	border:1px solid #a5c4ed;
	background:url(../../img/personnel/invite/turnoff.png) no-repeat 2px 2px #d6eaff;
}
.inviteissue form{
	box-sizing:border-box;
	border: 1px solid #a3c8f8;
	margin:3px;
	overflow: auto;
	height: 86%;
	border-radius: 4px;
	behavior: url(../../css/plug/ie-css3.htc);
	background: #fff;
	padding-top:10px;
}
.inviteissue p{
	padding-right: 12%;
	line-height: 26px;
	overflow: hidden;
}
.inviteissue p label{
	float: right;
}
.inviteissue p input{
	height: 14px;
	width:240px;
	margin-left:8px;
}
.inviteissue .jqdate{
	width:242px;
	height:18px;
}
.inviteissue .editarea{
	margin-top:4px;
}
.inviteissue .editarea span{
	float:right;
}
.inviteissue .editarea textarea{
	float:right;
	margin-left:8px;
}
.inviteissue .same{
	position: absolute;
	border: 1px solid #b5b8c8;
	border-radius: 3px;
	behavior: url(../../css/plug/ie-css3.htc);
	background: #e5e3e3;
	padding: 6px 10px;
}
.inviteissue .same:hover{
	background: #e7f0ff;
}
.inviteissue .save{
	bottom:10px;	
	left:35%;	
}
.inviteissue .cancel{
	bottom:10px;
	left:55%;
}
.inviteissue .delbutton,.inviteissue .addbutton,.inviteissue .viewbutton{
	width:20px;
	height:18px;
}