#officeGoodsManage{
	overflow:hidden;
}
#officeGoodsManage .imgBox{
	width:40px;
	margin:0 auto;
}
#officeGoodsManage .popups .addSupplies input[type=text],
#officeGoodsManage .popups .editSupplies input[type=text]{
	padding-left:5px;
	font-size:12px;
	line-height:16px;
}
#officeGoodsManage .popups .addSupplies .sysgen,
#officeGoodsManage .popups .editSupplies .sysgen{
	width:40px;
	height:19px;
	font-size:12px;
	line-height:17px;
}
#officeGoodsManage .popups .addSupplies .isWarning,
#officeGoodsManage .popups .editSupplies .isWarning{
	width:153px;
}