#goodstypemonthForm{
	overflow:hidden;
}
#goodstypemonthForm .chartArea .goback{
	margin-left:10px;
	margin-top:4px;
	margin-bottom:10px;
}
#goodstypemonthForm .chartArea #container{
	margin-top:6%;
}
#goodstypemonthForm .chartArea .highcharts-credits{
	display:none;
}