<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mdoa.base.dao.BaseDao" >
	<!-- 获取唯一标识符UUId -->
	<select id="getuuid" resultType="java.lang.String">
		select uuid() as uuid
	</select>
</mapper>